.base-container{
 display: flex;
 flex-direction: column;
 align-items: center;
.formwrapper{
    width: 60%;
    padding: 0% 15%;
    padding-bottom: 20%;
    padding-top: 15%;
    margin:2% 10%;
    border-top: 3px solid rgb(127, 184, 231);
    box-shadow: 0px 2px 5px 1px rgba(226, 230, 231, 0.871);
    img{
        width: 35%;
        height: 35%;
        margin-left: 33%;
        margin-bottom: 25px;
    }
}
}
